
@font-face{
    font-family: 'Norican-Regular';
    src: url(fonts/Norican-Regular.ttf)format('truetype');
}
@font-face{
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf)format('truetype');
}

*{
    box-sizing: border-box; 
    margin: 0%;
    padding: 0%;

}

/*CSS del header*/
.titulo{
    background-color: rgb(250, 248, 245);
    text-align: center;
    height: 100px;
    color: rgba(127, 255, 212, 0.979);
    font-size: 3.5em;
    letter-spacing: 2px;
    font-style: italic;
    font-family: Norican-Regular;
}
.menu{
    height:50px;
    background-color:white;
}
.menu ul {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
    margin: auto;
}

.menu ul >li {
    list-style: none;
    align-self: center;
}

.menu a {
    color: rgba(127, 255, 212, 0.979);
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-size: 1.2em;
    font-weight: bold;
    align-self: center;
}

/*CSS del formulario*/

.contenedorFormulario{
    background-color: rgb(250, 248, 245);
    padding-bottom: 3%;
}

.titulo_formulario{
    width: 100%;
    color: rgba(127, 255, 212, 0.979);
    font-size: 2em;
    font-family: Norican-Regular;
    text-align: center;
}

fieldset{
    background-color: white;
    border-radius: 10%;
    border-color: rgba(127, 255, 212, 0.979);
    border-width: 0.4em;
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
    font-family: OpenSans-Regular;
}

legend{
    font-family: OpenSans-Regular;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
}

label{
    font-family: cursive;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
    margin-left: 5%;
}

fieldset > p {
    margin-top: 2%;
    margin-bottom: 2%;
}

fieldset > p > label{
    display: inline-block;
    width: 30%;
}

fieldset > p:nth-child(10){
    display: flex;
    justify-content: center;
}

fieldset > p:nth-child(11){
    display: flex;
    margin-left: 5%;
}

fieldset > p:nth-child(12)>label{
    display: inline-block;
    width: 15%;
}

/*usamos selectores para causar efectos segun se cumplan o no las condiciones del formulario*/

input:required + span::after { 
    content: "*";
    margin-left: 1%; 
    font-family: cursive;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
}


input[type="tel"]:invalid + span::after { 
    content: 'Escriba un número válido.'; 
    font-family: cursive;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
}


input[type='number']:out-of-range + span::after { 
    content: "Mínimo 18, máximo 99";
}

/*CSS del footer*/
.contactos{
    background-color: black;
    color:white;
    width:100%;
    height: 20vh;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.contactos>ul{
    list-style: none;
    font-family: OpenSans-Regular;
    font-size: 0.8em;
}

.contactos>ul>li:nth-child(1){
    font-weight: bolder;
    padding-top: 2em;
    padding-bottom: 1em;
}