#contenedor {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
}

#contenedor div {
  padding: 10px;
  border: 1px solid green;
}
