#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1000px;
  border: 1px solid red;

  /* ENTRE LAS LÃNEAS */
  align-items: space-between;
  /* align-items: space-around; */
  /* align-items: stretch; */
  /* align-items: center;  */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
}

#contenedor > div {
  padding: 10px;
  margin: 10px;
  border: 1px solid green;
  width: 200px;
}
