
@font-face{
    font-family: 'Norican-Regular';
    src: url(fonts/Norican-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}

*{
    box-sizing: border-box; 
    margin: 0%;
    padding: 0%;

}

/*CSS del banner*/
#anuncio{
    margin: 80px auto;
    width: 40%;
    min-width: 230px;
    max-width: 330px;
    position: relative;
    height: auto;
    min-height: 300px;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    /*background-image: linear-gradient(to bottom right, rgba(127, 255, 212, 0.979), rgb(250, 248, 245));*/
    background-image: url(images/anuncio-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    left: 70%;  
    top: 20%;
}

#anuncio>h1{
    
    color: rgba(10, 218, 148, 0.979);
    font-family: Norican-Regular;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

/*CSS del header*/
.titulo{
    background-color: rgb(250, 248, 245);
    text-align: center;
    height: 100px;
    color: rgba(127, 255, 212, 0.979);
    font-size: 3.5em;
    letter-spacing: 2px;
    font-style: italic;
    font-family: Norican-Regular;
}

.menu{
    height:50px;
    background-color:white;
}

.menu ul {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
    margin: auto;
}

.menu ul >li {
    list-style: none;
    align-self: center;
}

.menu a {
    color: rgba(127, 255, 212, 0.979);
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-size: 2em;
    font-weight: bold;
    align-self: center;
}

/*CSS del formulario*/

.contenedorFormulario{
    background-color: rgb(250, 248, 245);
    padding-top: 3%;
    padding-bottom: 3%;

}

.contenedorFormulario>form{
    position: relative;
    right: 10%;
}

.titulo_formulario{
    width: 100%;
    color: rgba(127, 255, 212, 0.979);
    font-size: 2em;
    font-family: Norican-Regular;
    text-align: center;
}

#descripcion{
    width: 90%;
}

fieldset{
    background-color: white;
    border-radius: 10%;
    border-color: rgba(127, 255, 212, 0.979);
    border-width: 0.4em;
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
    font-family: OpenSans-Regular;
    font-size: 1em;
}

legend{
    font-family: OpenSans-Regular;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
}

label{
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.2em;
    color: rgba(4, 255, 171, 0.979);
    margin-left: 5%;
}

fieldset > p {
    margin-top: 2%;
    margin-bottom: 2%;
}

fieldset > p > label{
    display: inline-block;
    width: 30%;
}

fieldset > p:nth-child(10){
    display: flex;
    justify-content: center;
}

fieldset > p:nth-child(11){
    display: flex;
    margin-left: 5%;
}

fieldset > p:nth-child(12)>label{
    display: inline-block;
    width: 15%;
}

/*usamos selectores para causar efectos segun se cumplan o no las condiciones del formulario*/

input:required + span::after { 
    content: "*";
    margin-left: 1%; 
    font-family: cursive;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
}

input[type="tel"]:invalid + span::after { 
    content: 'Escriba un número válido.'; 
    font-family: cursive;
    font-weight: bolder;
    color: rgba(4, 255, 171, 0.979);
}

input[type='number']:out-of-range + span::after { 
    content: "Mínimo 18, máximo 99";
}

/*CSS del footer*/
.contactos{
    background-color: black;
    color:white;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 3%;
}

.contactos>ul{
    list-style: none;
    font-family: OpenSans-Regular;
    font-size: 1.3em;
}

.contactos>ul>li:nth-child(1){
    font-weight: bolder;
    padding-top: 2em;
    padding-bottom: 1em;
}

.redes_sociales{
    display: none;
}

/*CSS para vista de iPad*/
@media (max-width: 1040px) {
    /*Header*/
    .menu a{
        font-size: 1em;
    }

    /*CSS formulario*/
    #anuncio{
        display: none;
    }

    .titulo_formulario{
        font-size: 1.2em;
    }

    .contenedorFormulario>form{
        position: relative;
        left:auto;
        right:auto;
    }

    .contenedorFormulario>form>fieldset{
        width: 80%;
    }

    .contenedorFormulario > form> fieldset > p:nth-child(12) > input:nth-child(2){
        margin-left: 5%;
    }

    /*Footer*/
    .contactos>ul{
        font-size: 1em;
    }

}

/*CSS para vista de iPhone 11 Pro*/
@media (max-width: 428px) {

    /*Header*/
    .titulo{
        font-size: 3em;
    }

    .menu a{
        font-size: 1em;
    }

    .menu ul>li{
        margin-left: 1%;
        margin-right: 1%;
    }

    /*CSS formulario*/
    label{
        font-size: 1em;
    }

    .titulo_formulario{
        font-size: 1.2em;
    }

    .contenedorFormulario > form> fieldset > p:nth-child(12) > input:nth-child(2){
        margin-left: 17%;
    }

    #Nombre{
        margin-left: 17%;
    }

    /*Footer*/
    .contactos{
        height: 24vh;
        flex-wrap: wrap;
    }

    .contactos>ul{
        font-size: 0.8em;
    }

    .contactos>ul:nth-child(4){
        display: none;
    }

    .redes_sociales{
        display: flex;
        justify-content: space-between;
    }

    .redes_sociales>p{
        font-weight: bolder;
        padding-top: 0.8em;
        font-family: OpenSans-Regular;
        font-size: 0.8em;
    } 
      
    .redes_sociales>img{
        height: 70%;
    } 

}