@font-face{
    font-family: 'Norican-Regular';
    src: url(fonts/Norican-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}

*{
    box-sizing: border-box; 
    margin: 0%;
    padding: 0%;

}

/*CSS del header*/
.titulo{
    background-color: rgb(250, 248, 245);
    text-align: center;
    height: 100px;
    color: rgba(127, 255, 212, 0.979);
    font-size: 3.5em;
    letter-spacing: 2px;
    font-style: italic;
    font-family: Norican-Regular;
}
.menu{
    height:50px;
    background-color:white;
}
.menu ul {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
    margin: auto;
}

.menu ul >li {
    list-style: none;
    align-self: center;
}

.menu a {
    color: rgba(127, 255, 212, 0.979);
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-weight: bold;
    font-size: 2em;
    align-self: center;
}
.cabecera{
    width: 100%;
    text-align: center;
    padding-top: 1em;
    font-family: OpenSans-Regular;
    font-size: 3em;
    letter-spacing: 0.1em;
    background-color: rgb(250, 248, 245);
}



/*CSS de stories*/

.stories{
    width: 100%;
    height: 120vh;
    display:inline-grid;
    grid-template-columns: repeat(3, 17%);
    grid-template-rows: repeat(2, 40%);
    grid-gap: 20px 40px;  
    justify-content: center;
    align-content: center;
    background-color: rgb(250, 248, 245);
}

.contenido_stories{
    display:inline-grid;
    grid-template-rows: 60% 40%;
    font-family: OpenSans-Regular;
    letter-spacing: 0.1em;
    font-weight: bolder;
    background-color: rgb(253, 253, 253);
}

.contenido_stories_descripcion{
    display:inline-grid;
    grid-template-rows: 20% 60% 20%;
}

.descripcion_cabecera{
    font-size: 0.9em;
    color: rgba(91, 94, 94, 0.884);
    display: flex;
    
}
.descripcion_cabecera>p{
    align-self: center;
    margin-left: 5%;
}

/*INICIO imagenes stories*/
.contenido_stories:nth-child(1)>.contenido_stories_foto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenido_stories:nth-child(2)>.contenido_stories_foto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenido_stories:nth-child(3)>.contenido_stories_foto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenido_stories:nth-child(4)>.contenido_stories_foto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenido_stories:nth-child(5)>.contenido_stories_foto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenido_stories:nth-child(6)>.contenido_stories_foto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descripcion_titulo{
    font-size: 1.3em;
    display: flex;
    overflow: hidden;
}

.descripcion_titulo>p{
    align-self: center;
    margin-left: 5%;
    margin-right: 2%;
    font-size: 0.7em;
}

.descripcion_enlace{
    font-size: 0.8em;
    display: flex;
}
.descripcion_enlace>p{
    align-self: center;
    margin-left: 5%;
}

.descripcion_enlace>p::before{
    content:'';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url(images/menu-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px;
    margin-right: 5px;    
}

/*CSS de videos*/
.videos{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    overflow: unset;
}

.videos>.cabecera{
    width: 100%;
    /*height: 10vh;*/
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 3em;
    padding-top: 0.5em;
}

.videos_contenido{
    width: 70%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display:inline-grid;
    grid-template-rows: 25% 75%;
    padding-bottom: 3%;
}
.videos_contenido_principal{
    grid-row: 2 / 2;
    background-image: url(images/videos/imagen1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.videos_contenido_principal>div{
    width: 100%;  
    height: 100%;  
    display: none;
}

.videos_contenido_principal>div:target{
    display: block;
    background-color: black;
}

.videos_contenido_principal>div>iframe{
    width: 100%;  
    height: 80%;  
}

.videos_contenido_descripcion>h3{
    font-weight: bolder;
    font-family: OpenSans-Regular;
    letter-spacing: 0.05em;
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.videos_contenido_descripcion>p{
    font-size: 0.7em;
    font-weight: bolder;
    font-family: OpenSans-Regular;
    letter-spacing: 0.05em;
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.videos_contenido_secundario{
    grid-row: 1 / 1;
    display:inline-grid;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: 75% 25%;
    grid-gap: 5px 10px;  
    font-size: 0.7em;
    font-weight: bolder;
    font-family: OpenSans-Regular;
    letter-spacing: 0.05em;
    padding-bottom: 5%;
}

#contenido_secundario_imagenes1{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#contenido_secundario_imagenes1>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido_secundario_titulos1{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

#contenido_secundario_imagenes2{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#contenido_secundario_imagenes2>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido_secundario_titulos2{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#contenido_secundario_imagenes3{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

#contenido_secundario_imagenes3>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido_secundario_titulos3{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

#contenido_secundario_imagenes4{
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

#contenido_secundario_imagenes4>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido_secundario_titulos4{
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

#contenido_secundario_imagenes5{
    grid-column: 5 / 5;
    grid-row: 1 / 1;
}

#contenido_secundario_imagenes5>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenido_secundario_titulos5{
    grid-column: 5 / 5;
    grid-row: 2 / 2;
}



/*CSS de more_animals*/
.more_animals{
    width: 100%;
    height: 100vh;
    display:inline-grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(2, 40%);
    grid-gap: 20px 40px;  
    justify-content: center;
    align-content: center;  
    background-color: rgb(250, 248, 245);
    
}
.contenedor_imagen{
    overflow: hidden;
}
.contenido_more_animals{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

/* INICIO backgorund imagenes familias animals*/
.more_animals >div:nth-child(1)>div{
    background-image: url(images/familias/anfibios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more_animals >div:nth-child(1)>div:hover{
    transform: scale(1.2);
    transition: transform 5s ease;
}

.more_animals >div:nth-child(2)> div{
    background-image: url(images/familias/birds.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more_animals >div:nth-child(2)> div:hover{
    transform: scale(1.2);
    transition: transform 5s ease;
}

.more_animals >div:nth-child(3)>div{
    background-image: url(images/familias/fish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more_animals >div:nth-child(3)>div:hover{
    transform: scale(1.2);
    transition: transform 5s ease;
}

.more_animals >div:nth-child(4)>div{
    background-image: url(images/familias/invertebrates.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more_animals >div:nth-child(4)>div:hover{
    transform: scale(1.2);
    transition: transform 5s ease;
}

.more_animals >div:nth-child(5)>div{
    background-image: url(images/familias/mamiferos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more_animals >div:nth-child(5)>div:hover{
    transform: scale(1.2);
    transition: transform 5s ease;
}

.more_animals >div:nth-child(6)>div{
    background-image: url(images/familias/reptiles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more_animals >div:nth-child(6)>div:hover{
    transform: scale(1.2);
    transition: transform 5s ease;
}
/* FIN backgorund imagenes familias animals*/

.contenido_more_animals>p{
    font-size: 1.2em;
    font-weight: bolder;
    font-family: OpenSans-Regular;
    text-align: center;
    color:rgba(250, 251, 252, 0.932);
    width: 100%;
    
}

.button {
    border: none;
    color: rgb(7, 7, 7);
    padding: 1em 1.2em;
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    margin: 2px 1px;
    background-color: rgb(255, 204, 0);
}

.button>p::before{
    content:'';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url(images/menu-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px;
    margin-right: 5px;
}

/*CSS del footer*/
.contactos{
    background-color: black;
    color:white;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 3%;
}

.contactos>ul{
    list-style: none;
    font-family: OpenSans-Regular;
    font-size: 1.3em;
}

.contactos>ul>li:nth-child(1){
    font-weight: bolder;
    padding-top: 2em;
    padding-bottom: 1em;
}

.redes_sociales{
    display: none;
}


/*CSS para vista de iPad*/
@media (max-width: 1040px) {

    .menu a {
        font-size: 1em;
    }

    .stories{
        height: 120vh;
        display:inline-grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(3, 30%);
    }

    .more_animals{
        height: 60vh;
        display: inline-grid;
        grid-template-columns: repeat(3, 25%);
        grid-template-rows: repeat(2, 40%);
    }

    .videos_contenido{
        width: 90%;
        display: inline-grid;
        grid-template-rows: 30% 55% 15%;
    }

    .videos_contenido_secundario{
        grid-template-rows: 60% 40%;
    }

}


/*CSS para vista de iPhone 11 Pro*/
@media (max-width: 428px) {
    /*Header*/
    .titulo{
        font-size: 3em;
    }
    .menu a{
        font-size: 1em;
    }
    .menu ul>li{
        margin-left: 1%;
        margin-right: 1%;
    }
    /*Footer*/
    .contactos{
        height: 24vh;
        flex-wrap: wrap;
    }
    .contactos>ul{
        font-size: 0.8em;
    }
    .contactos>ul:nth-child(4){
        display: none;
    }
    .redes_sociales{
        display: flex;
        justify-content: space-between;
    }
    .redes_sociales>p{
        font-weight: bolder;
        padding-top: 0.8em;
        font-family: OpenSans-Regular;
        font-size: 0.8em;
    }   
    .redes_sociales>img{
        height: 70%;
    } 

    /*contenido*/
    .cabecera{
        font-size: 1em;
    }
    /*contenido stories*/
    .descripcion_cabecera{
        font-size: 0.7em;
    }
    .descripcion_titulo{
        font-size: 0.7em;
    }
    .descripcion_enlace{
        font-size: 0.7em;
    }
    /*contenido videos*/
    .videos{
    }

    .videos > .cabecera{
        font-size: 1em;
        height: initial;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .videos_contenido_secundario{
        grid-template-columns: repeat(3, 25%);
        grid-template-rows: 50% 50%;
        justify-content: center;
        font-size: 0.8em;
    }

    #contenido_secundario_imagenes4, #contenido_secundario_titulos4,#contenido_secundario_imagenes5, #contenido_secundario_titulos5{
        display:none;
    }

    .videos_contenido_descripcion{
        font-size: 0.8em;
    }

    /*contenido more animals*/
    .more_animals{
        height: 60vh;
        grid-template-rows: repeat(2, 40%);
    }

    .contenido_more_animals > p{
        font-size: 0.7em;
    }

    .button{
        font-size: 0.7em;
        padding: 0.8em 1em;
    }
}
